# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [1]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [ ]:
print(hash_function('pato'))
print(hash_function('tapo'))

In [15]:
import pandas as pd

df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1')

#Quito los registros que no tien un valor
df.dropna(inplace=True)

#nueva columna con la clave "Clave_Hash"
#df['Clave_Hash'] = (df['cod_pais']).apply(hash_function_v1)   //Asi se resuelve de otra manera
df.loc[:, 'Clave_Hash'] = hash_function(df['Código de país'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9029 entries, 26 to 11126
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       9029 non-null   object
 1   Nombre del país                      9029 non-null   object
 2   Región                               9029 non-null   object
 3   Año                                  9029 non-null   int64
 4   CO2 (kt)                             9029 non-null   object
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
 6   Clave_Hash                           9029 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 564.3+ KB

###### En la sentencia => 
```    df.dropna(inplace=True)   #Por defecto viene inplace=false
```
<code>inplace=True</code>
- el DataFrame original se modificará y se eliminarán las filas o columnas que contengan valores faltantes. En este caso, el método dropna() no devuelve un nuevo DataFrame, sino que modifica el DataFrame original.

<code>inplace=False </code>(este es el valor predeterminado)<br> 
- Devuelve una copia del DataFrame original con los valores faltantes eliminados. En este caso, el DataFrame original no se modifica.

In [14]:
df.head()

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,1206698
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964,1206698
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508,1206698
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733,1206698
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165,1206698

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [17]:
df.keys()

Index(['Código de país', 'Nombre del país', 'Región', 'Año', 'CO2 (kt)',
       'CO2 per cápita (toneladas métricas)', 'Clave_Hash'],
      dtype='object')

In [19]:
# Seleccionar solo las columnas 'Clave_Hash', 'Código de País', 'Nombre de país' y 'Región', y eliminar las filas duplicadas
df_Index = df[['Clave_Hash','Código de país','Nombre del país','Región']].drop_duplicates()
df_Index.info

<bound method DataFrame.info of        Clave_Hash Código de país                Nombre del país  \
26        1206698            ABW                          Aruba
87        1206698            AND                        Andorra
104       1206698            AFG                     Afganistán
156       1206698            AGO                         Angola
208       1206698            ALB                        Albania
...           ...            ...                            ...
10867     1206698            YEM                          Yemen
10919     1206698            ZAF                      Sudáfrica
10971     1206698            COD  Congo (República Democrática)
11027     1206698            ZMB                         Zambia
11079     1206698            ZWE                       Zimbabue

                                Región
26             América Latina y Caribe
87               Europa y Asia Central
104                        Sur de Asia
156                África subsahariana
208              Europa y Asia Central
...                                ...
10867  Oriente Medio y Norte de África
10919              África subsahariana
10971              África subsahariana
11027              África subsahariana
11079              África subsahariana

[199 rows x 4 columns]>